
.idea/vcs.xml
.idea/deployment.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/semantic_parsing.iml
.idea/workspace.xml
/.idea
*.pyc
/.idea
*.xml
/generate_dataset/build_labels/instance_funcs/llm_instance_datadir
